/*css auxiliar*/

.bordes{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: whitesmoke;
}

/*css principal*/

/*id*/

#header{
    background-color: blue;
    border-radius: 3%;
    border-color: blue;
    border-width: 0.5px;
    border-style:double;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin:5px;
    padding: 1px;
    text-align: center;
}

#content{
    background-color:whitesmoke;
    color:black;
    border-radius: 0%;
    border-color: blue;
    border-width: 0.5px;
    border-style: none;
    height: 20.5cm;
    margin:3px;
    padding: 3px;
}

#footer{
    background-color: blue;
    border-radius: 3%;
    border-color: blue;
    border-width: 0.5px;
    border-style:double;
    color: whitesmoke;
    align-items: baseline;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#list{
    background-color: white;
    border-radius: 3%;
    border-color: blue;
    border-width: 0.5px;
    border-style: solid;
    align-items: stretch;
    height: 20cm;
    padding: 3px;
}

/*class*/

.container{
    background-color: whitesmoke;
    margin-top: 1cm;
    margin-left: 3cm;
    height: 23cm;
    width: 10cm;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    border-radius: 3%;
}

.control{
    background-color: white;
    border-radius: 3%;
    border-color: blue;
    border-style: solid;
    float:inline-end;
    padding: 3px;
    margin: 3px;
}

.taskSelected{
    background-color: whitesmoke;
    border: 1px;
    border-radius: 3%;
    border-color: blue;
    border-style: solid;
    color: blue;
    padding: 8px;
    width: auto;
}

.taskUnselected{
    background-color: blue;
    border: 1px;
    border-radius: 3%;
    border-color: blue;
    border-style: solid;
    color: white;
    padding: 8px;
    width: auto;
}

.buttonDelete{
    background-color: white;
    border-radius: 3%;
    border-color: blue;
    border-style: solid;
    float:right;
    margin: 3px;
}

.checkBoxDelete{
    background-color: white;
    border-radius: 3%;
    border-color: blue;
    border-style: solid;
    float:inline-start;
    margin: 3px;
}

.button{
    background-color: white;
    border-radius: 3%;
    border-color: blue;
    border-style: solid;
    float:right;
    margin: 3px;
    width: 5%;
}